a.button,
.button
	position relative
	background transparent
	border 0
	padding 0
	display inline-flex
	align-items center
	justify-content center
	position relative
	font 500 18px/18px $font-h
	padding 15px 30px
	border-radius 4px
	z-index 2
	transition all .2s
	cursor pointer
	&--cta
		color $blue
		background $yellow
		border 1px solid $yellow
		&:hover
			background white
			color $blue
			border 1px solid $blue
	&--cta-invert
		color $blue
		background white
		&:hover
			background $yellow
	&--blue
		background $blue
		color white
		&:hover
			background $yellow
	&--facebook
		background $facebook
		color white
		padding 15px 40px
	&--disabled
		background $grey
		color white
		cursor not-allowed
	&--full
		width 100%
	&--sm
		font 500 14px/24px $font-h
		padding 10px 20px
	~ .button
		margin-left 15px
	.mi ~ span
		margin-left 10px
	&--link
		border-bottom 4px solid $red
		padding 12px 0
		font 600 12px/12px $font-h
		
+break(tablet)
	a.button,
	.button
		font 500 16px/16px $font-h
		padding 12px 20px
+break(mobile)
	a.button,
	.button
		font 500 14px/18px $font-h
		padding 10px 25px











