@font-face
	font-family 'material'
	font-style normal
	font-weight 400
	src url('/fonts/material/material.woff2') format('woff2')
	src url('https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2')
	font-display block

@font-face
	font-family 'renogare'
	src url('/fonts/renogare/renogare-regular.woff2') format('woff2'), url('/fonts/renogare/renogare-regular.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'hanuman'
	src url('/fonts/hanuman/hanuman-regular.woff2') format('woff2'), url('/fonts/hanuman/hanuman-regular.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'hanuman'
	src url('/fonts/hanuman/hanuman-bold.woff2') format('woff2'), url('/fonts/hanuman/hanuman-bold.woff') format('woff')
	font-weight bold
	font-style normal