@font-face
	font-family 'material'
	font-style normal
	font-weight 400
	src url('/fonts/material/material.woff2') format('woff2')
	src url('https://fonts.gstatic.com/s/materialicons/v43/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2') format('woff2')
	font-display block

@font-face
	font-family 'gilroy'
	src url('/fonts/gilroy/gilroy-medium.woff2') format('woff2'), url('/fonts/gilroy/gilroy-medium.woff') format('woff')
	font-weight normal
	font-style normal
@font-face
	font-family 'gilroy'
	src url('/fonts/gilroy/gilroy-semibold.woff2') format('woff2'), url('/fonts/gilroy/gilroy-semibold.woff') format('woff')
	font-weight 500
	font-style normal
@font-face
	font-family 'gilroy'
	src url('/fonts/gilroy/gilroy-bold.woff2') format('woff2'), url('/fonts/gilroy/gilroy-bold.woff') format('woff')
	font-weight bold
	font-style normal